<div class="main-search">
  <i class="fa fa-times" id="closeSearch"></i>
  <div class="search-holder">
    <div class="container">
      <div class="form-search animated">
        <input  ngAutoFocus type="text" placeholder="Search with a Zip Code" class="search-input" name="search" [(ngModel)]="search" #query (ngModelChange)="searchuserdata(query.value)" (keydown)="submit($event,query.value)">
        <button (click)="searchuserdata(query.value)" style="display: none;">hi</button>
      </div>
      <div class="hint-box" *ngIf="record">
          <ul class="list-normal" *ngFor="let data of record; let i = index">
              <li>
                <a style="cursor:pointer" (click) = "singlerfp(data.zipcode)">
                  <i class="material-icons">arrow_forward</i> {{data.zipcode}}   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{data.country}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{data.city}}</a>
              </li>
            </ul>
      </div>

    </div>
  </div>
</div>
<div class="header-home">
  
  <nav class="nav-home navbar-transparent">
    <div class="navbar-header ">
      <button class="navbar-toggle" data-target="#menu-example" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" onclick="topFunction()" routerLink="/">
        <img src="../../assets/img/ChoiceGenie-logo2.png" alt="ChoiceGenie" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="menu-example">
      <ul class="navbar-nav navbar-right">
          
        <li class="vanders">
         
          <a routerLink="/">
            <i class="material-icons">home</i> Why ChoiceGenie ?
            <!-- <i class="fa fa-caret-down"></i> -->
          </a>
          <div class="drop-downs">
            <ul class="nav-vanders  why-choiegenie-sublist">
              <li>
                <a onclick="topFunction()" routerLink="/Why-Choice-Genie">
                  <i class="fa fa-question-circle-o"></i>

                  Why ChoiceGenie?</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/how-it-works">
                  <i class="fa fa-fire"></i>
                  How It Works?</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/Faqs">
                  <i class="fa fa-leanpub"></i>
                  FAQs</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/what-is-ChoiceGenie">
                  <i class="fa fa-leaf"></i>
                  What is ChoiceGenie?</a>
              </li>
              <!-- <li>
                <a routerLink="/">
                  <i class="fa fa-question-circle-o"></i>
                  Who are We?</a>
              </li> -->

              <li>
                <a onclick="topFunction()" routerLink="/Become-a-partner">
                  <i class=" fa fa-group"></i>
                  Become a Partner</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/Choice-and-Saving">
                  <i class=" fa fa-cubes"></i>
                  Choice and Savings</a>
              </li>
              <li>
                <a onclick="topFunction()" routerLink="/contactus">
                  <i class="fa fa-address-book-o"></i>
                  Establish Contact</a>
              </li>
            </ul>
          </div>
        </li>
      
        <li>
          <a onclick="topFunction()" routerLink="/residential">
            <i class="material-icons">dashboard </i> Residential
          </a>
        </li>
   <li class="">
          <a onclick="topFunction()" routerLink="/commercial">
            <i class="material-icons">person_add </i> Commercial
          </a>
        </li>
        <li>
          <a onclick="topFunction()" routerLink="/features-comparison">
            <i class="material-icons">insert_chart</i> Comparison Matrix

          </a>
        </li>
        <li>
          <a onclick="topFunction()" routerLink="/blog">
            <i class="fa fa-leanpub"></i> Blog

          </a>
        </li>
        <li class="vanders" style="border-right: 2px solid #ccc; padding-right: 10px;" *ngIf="!check_login() && !checked_login() && !check_login1()">
          <!-- <a > -->
            <!-- <i class="material-icons">fingerprint</i>
            Sign IN -->
            <a onclick="topFunction()" routerLink="/userlogin">
              <i class="material-icons">fingerprint</i> SignIN
            </a>
            <!-- <i class="fa fa-caret-down"></i> -->
          <!-- </a> -->
          <!-- <div class="drop-downs-l"> -->
            <!-- <ul class="nav-vanders"> -->
              <!-- <li class="/login">
                <a onclick="topFunction()" routerLink="/login">
                  <i class="material-icons">face</i> Vendor
                </a>
              </li> -->
              <!-- <li class="">
                <a onclick="topFunction()" routerLink="/userlogin">
                  <i class="material-icons">face</i> User
                </a>
              </li> -->
            <!-- </ul> -->
          <!-- </div> -->
        </li>
        <li class="vanders" *ngIf="!check_login() && !checked_login() && !check_login1()">
          <a>
            <i class="material-icons">
              lock_open
            </i>
            SignUp
            <!-- <i class="fa fa-caret-down"></i> -->
          </a>
          <div class="drop-downs-l">
            <ul class="nav-vanders">
              <li class="/userlogin">
                <a onclick="topFunction()" routerLink="/register">
                  <i class="material-icons">face</i> Vendor
                </a>
              </li>
              <li class="">
                <a onclick="topFunction()" routerLink="/usersignup">
                  <i class="material-icons">face</i> User
                </a>

              </li>
            </ul>
          </div>
        </li>

        <li class="info-box-02__box-02">
          <a href="javascript:void(0)" class="search-block search-icon" id="searchIcon">
            <i class="fa fa-search search-size"></i>
          </a>
        </li>

        <li class="">
          <a routerLink="/">

            <i class="material-icons">android</i>
          </a>
        </li>
        <li class="">
          <a routerLink="/">
            <i class="fa fa-apple"></i>
          </a>
        </li>
        <li class="vanders" *ngIf="check_login()">
          <a>
            <i class="material-icons">account_circle</i>{{username}}
            <!-- <input style="cursor: pointer;font-size: 20px; margin-left: 5px;" type="text" [value]="username" readonly> -->
          </a>
          <div class="drop-downs">
            <ul class="nav-vanders  why-choiegenie-sublist">
              <li>
                <a (click)="moving()" style="cursor: pointer;">
                  Dashboard
                </a>
              </li>
 <li>
                <a (click)="vendorlogout()">
                  <i class="material-icons">lock</i>Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="vanders" *ngIf="check_login1()">
            <a>
              <i class="material-icons">account_circle</i>{{admin}}
              <!-- <input style="cursor: pointer;font-size: 20px; margin-left: 5px;" type="text" [value]="username" readonly> -->
            </a>
            <div class="drop-downs">
              <ul class="nav-vanders  why-choiegenie-sublist">
                <li>
                  <a (click)="moving1()" style="cursor: pointer;">
                    Dashboard
                  </a>
                </li>
   <li>
                  <a (click)="logout()">
                    <i class="material-icons">lock</i>Logout
                  </a>
                </li>
              </ul>
            </div>
          </li>
        <li class="vanders" *ngIf="checked_login()">
          <a>
            <i class="material-icons">account_circle</i>{{customer}}
            <!-- <input style="cursor: pointer;font-size: 20px; margin-left: 5px;" type="text" [value]="customer" readonly> -->
          </a>
          <div class="drop-downs">
            <ul class="nav-vanders  why-choiegenie-sublist">
              <li>
                <a (click)="move()" style="cursor: pointer;">
                  Dashboard
                </a>
              </li>

              <li>
                <a (click)="checked_logout()">
                  <i class="material-icons">lock</i>Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>


