<app-loader></app-loader>
<div class="terms-container-wrapper" *ngIf="data">
  <div class="container">
      <div class="page-title">
          <h3  class="text-center choiecegenie-offers l-height">{{heading}}
          </h3>
          </div>
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- <div class="terms-condition-wrapper"> -->
        <div class="blog1-img">
            <img  *ngIf="image" src="https://storage.choicegenie.com/images/{{image}}">
        </div>
          <div  id="myDiv"></div>


        <!-- </div> -->
      </div>
    </div>
  </div>
  </div>


