<app-loader></app-loader>
<div class="terms-container-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="terms-condition-wrapper">
            
            <h1>{{data.heading1}}</h1>
              <!-- <hr> -->
              <h2> Introduction </h2>
              <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
              </h3>
  
              <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
              </h3>
              <h2>Service Description</h2> -->
              <p>
                  {{data.content1}}</p>
              <img src="https://storage.choicegenie.com/images/{{data.Ch_image}}" alt="ChoiceGenie" style="width: 100%;
            height: 50%;"  />
            
          <!-- <p>In this economy, people are seen saving a buck or two wherever possible.All those small savings add up over time and come handy when faced with a nasty electric bill!ChoiceGenie  suggests  these  5  easy energy  efficient  life  hacks  for  your family to save money on energy bills.</p> -->
          <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
                <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
              </p> -->
              <h2>{{data.heading2}}</h2>
              <p>{{data.content2}}
              </p>
        
          <!-- <p>An  easy  way  to  remedy  this  is  to unplug  electronic  devices  asap  when not in use.Make  it  a  habit  of  unplugging  electric  devices  like  phone  chargers,  small appliances, and lamps around the house when unused!It will turn into noticeable savings.</p> -->
               
              <h2>{{data.heading3}}</h2>
          <p>{{data.content3}}</p>
              
              <h2>{{data.heading4}}</h2>
          <p>{{data.content4}}</p>
          
          <h2>{{data.heading5}}</h2>
            <p>{{data.content5}}</p>
          <!-- <p>Of  course,  keeping  the  lights  on  makes one feel safe, but letting the lights shine 24/7 uses loads of electricity and empties your pockets.That's why ChoiceGenie encourages to install energy efficient light bulbs. Those energy  efficient  light bulbs save electricity as well ass last longer than your traditional bulbs.</p> -->
              <h2>{{data.heading6}}</h2>
  
                <p>{{data.content6}}</p>
                
                
  
        </div>
      </div>
    </div>
  </div>
  </div>
  
  