<div class="container-fluid">
  <h3 class="text-center choiecegenie-offers wow fadeInLeft"> BLOG </h3>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 " *ngFor="let data of data;let i=index">
      <div class="layer-content">

        <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content popupmodel">
              <div class="modal-header">


              </div>
              <div class="modal-body" style="font-size: 18px;
                                  background: #ffffff;
                                  padding: 20px;
                                  margin: 15px;
                                  position: relative;">
                <div class="popup-close-button" data-dismiss="modal">X</div>
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                    <p style="font-size: 30px !important" class=" modal-v2__main-heading"> {{data.heading1}}</p>

                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                    <div class="popup-image">
                      <a routerLink="/blog/{{data.heading1}}" target="_blank" class="display-b margin-top">
                        <img style="height: 140px !important;" src="https://storage.choicegenie.com/images/{{data.Ch_image}}" />
                      </a>
                    </div>
                  </div>
                  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

                    <!-- <div class="card-header text-center" data-background-color="rose"style="text-align:center; padding-top:10px;">
                                        <h4 class="card-title">Edit Your product</h4>


                                      </div> -->

                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">




                        <mat-form-field>
                          <input matInput placeholder="Heading" name="heading1" value="{{heading1}}" required #updatedheading1/>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">



                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Content" name="content1" value="{{content1}}" #updatedcontent1/>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">



                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Image url" readonly name="Ch_image" value="{{Ch_image}}" #updatedCh_image />

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">



                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Heading" name="heading2" value="{{heading2}}" #updatedheading2 />

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">



                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Content" name="content2" value="{{content2}}" #updatedcontent2 />

                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">



                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Heading" name="heading3" value="{{heading3}}" #updatedheading3/>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">



                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Content" name="content3" value="{{content3}}" #updatedcontent3 />

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">



                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Heading" name="heading4" value="{{heading4}}" #updatedheading4/>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">


                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Content" name="content4" value="{{content4}}" #updatedcontent4/>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">


                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Heading" name="heading5" value="{{heading5}}" #updatedheading5/>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">


                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Content" name="content5" value="{{content5}}" #updatedcontent5 />

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">


                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Heading" name="heading6" readonly value="{{heading6}}" #updatedheading6/>

                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="input-group">


                        <!-- <input class="form-control" type="text" > -->
                        <mat-form-field>
                          <input matInput placeholder="Content" name="content6" readonly value="{{content6}}" #updatedcontent6 />

                        </mat-form-field>
                      </div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6">
                                        <div class="input-group"> -->


                    <!-- <input class="form-control" type="text" > -->
                    <!-- <mat-form-field>
                                        <input matInput placeholder="Zipcode" name="data.zipcode" class="form-control" value="{{data.zipcode}}" #zipcode />

                                      </mat-form-field>
                                    </div>
                                  </div> -->
                    <!-- </div> -->
                    <div class=" text-center">
                      <button type="submit" class="btn btn-rose" (click)="editClick(updatedheading1.value,updatedcontent1.value,updatedCh_image.value,updatedheading2.value,updatedcontent2.value,updatedheading3.value,updatedcontent3.value,updatedheading4.value,updatedcontent4.value,updatedheading5.value,updatedcontent5.value,updatedheading6.value,updatedcontent6.value)"
                        data-dismiss="modal">Update</button>

                      <button type="button" class="btn btn-rose" data-dismiss="modal">Cancel</button>
                      <!-- <button class="btn btn-rose btn-wd btn-lg" type="submit" (click)="onSubmit()" >Search</button> -->
                    </div>
                    <!-- </div> -->
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal fade" id="myModal3" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content popupmodel">
              <!-- <div class="modal-header">


                    </div> -->
              <div class="modal-body" style="font-size: 18px;
                    background: #ffffff;
                    padding: 20px;
                    margin: 15px;
                    position: relative;">
                <div class="popup-close-button" data-dismiss="modal">X</div>
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " style="border-bottom: 1px #4f4f4f solid;">
                    <p style="font-size: 30px !important" class=" modal-v2__main-heading">{{data.heading1}}</p>

                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="border-bottom: 1px #4f4f4f solid;">
                    <div class="popup-image">
                      <a routerLink="/blog/{{data.heading1}}" target="_blank" class="display-b margin-top">
                        <img style="height: 140px !important;" src="https://storage.choicegenie.com/images/{{data.Ch_image}}" />
                      </a>
                    </div>
                  </div>
                  <div>
                    <h4 class="modal-title" style="text-align: center;
                          color: red;
                          font-size: 30px;">Confirmation Alert</h4>
                    <p>Do you want to Delete this Blog?</p>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-rose" (click)="deleteClick(dataId)" data-dismiss="modal" style="
                      color: white;

                      width: 20%;
                      height: 45px;
                      font-size: 18px;">Delete</button>
                <button type="button" class="btn btn-rose" data-dismiss="modal" style="
                      color: white;

                      width: 20%;
                      height: 45px;
                      font-size: 18px;">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <img src="https://storage.choicegenie.com/images/{{data.Ch_image}}" alt="ChoiceGenie">
        </div>
        <div class="blog-layout-content">
          <h2>{{data.heading1}}</h2>
          <p>{{data.content1 | slice:0:106}}..</p>
          <div>
          <a routerLink="/blog/{{data.heading1}}">
            <button class="btn btn-fill blog3-read-btn" type="submit">Read more..</button>
            </a>
            <button class="btn fa fa-trash-o" style="background-color: transparent !important; color: #cc0000 !important; padding: 13px 19px;" type="submit" value="Delete" (click)="btnDeleteClick(data.id)" data-toggle="modal" data-target="#myModal3">
           </button>
           <button  class="btn fa fa-edit " style="background-color: transparent !important; color: #cc0000 !important; padding: 13px 19px;" type="submit" value="Edit" type="submit" (click)="btnEditClick(data.id,data.heading1,data.content1,data.Ch_image,data.heading2,data.content2,data.heading3,data.content3,data.heading4,data.content4,data.heading5,data.content5,data.heading6,data.content6)"
             data-toggle="modal" data-target="#myModal2">
            </button>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>