<section id="body" class="width">
    <aside id="sidebar sticky" class="column-left">

        <header>

            <div class="super-sidebar-profile-img">

                <a href="/superdashboard">
                    <img src="../../assets/img/Choice_genie_logo.png" alt="ChoiceGenie" />
                    <!-- <img src="../assets/img/faces/avatar.jpg" /> -->
                </a>
            </div>

        </header>

        <nav id="mainnav">
            <ul>
                <li>
                    <input type="text" [value]="user" readonly>
                </li>
                <li>

                    <a routerLink="/">
                      <i class="material-icons dash-icons">
                        web
                      </i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a routerLink="/userprofile">
                      <i class="material-icons dash-icons">
                        account_circle
                      </i>
                        My Profile
                    </a>
                </li>
                <li>
                    <a routerLink="/ChangePassword">
                      <i class="material-icons dash-icons">
                        edit
                      </i>
                      Change Password
                    </a>
                  </li>
                <li>
                    <a (click)="logout()">
                      <i class="material-icons dash-icons">
                        arrow_back
                      </i>
                        Logout
                    </a>
                </li>

            </ul>
        </nav>
    </aside>
</section>


