.prod-slide {
  background: #fff;
  width: 95% !important;
  border-radius: 10px;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.prod-slide:hover{
  cursor: pointer;
  -webkit-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.prod-slide > h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin: 0px;
  text-align: center;
}





//
.w3-sidebar {
  height: 100%;
  width: 214px;
  background-color: #fff;
  position: fixed!important;
  z-index: 2;
  overflow: auto;
}
.sidebar-cust{
   padding: 0px 10px;
}
.sidebar-cust ul{
  margin: 0px;
}
.sidebar-cust ul li{
  list-style: none;
}
.w3-teal, .w3-hover-teal{
  color: #fff!important;
  background-color: #c00!important;
  margin-left: 20px;
  border-radius: 7px;
  margin-top: 3px;
}
.custom-padding{
  padding: 0px 0px 0px 0px;
}
.w3-bar-block .w3-bar-item {
  /* background: #c00; */
  width: 100%;
  display: block;
  padding: 5px 5px 0px 0px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  text-align: right;
  font-size: 26px;
  font-weight: bold;
  color: #c00;
}




body {
  height: 2000px;
}
.bottomMenu {
  position: fixed;
  bottom: 0;
  width: 24%;
    height: auto;
  background: #fff;
  border: 1px solid #cccccc;
  z-index: 1;
  transition: all 1s;
  /* border-radius: 50px 0px 0px 0px; */
  text-align: center;
    padding: 7px 23px;
    border-left: 5px solid #c00;
}
.hide {
  opacity: 0;
  left: -100%;
}
.show {
  opacity: 1;
  /* left: 0; */
  right: 0;
  z-index: 3;
}
.signup-popup h1{
  font-size: 29px;
  text-shadow: none;
  color: #fff;
  padding: 0px 25px;
  width: 80%;
  margin: 0 auto;
}
.pop-up-close{
  text-align: right;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.pop-up-close:hover{
  background: none !important;
  color: #c00 !important;
}
.bottomMenu p{
  text-align: left;
  line-height: 22px;
  font-weight: bold;
  margin-top: 6px;
}
.popo-up-logo{
  display: inline-block;
}
.popo-up-logo img{
  width: 80%;
}
/**/

