.prod-slide {
  background: #fff;
  width: 95% !important;
  border-radius: 10px;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.prod-slide:hover{
  cursor: pointer;
  -webkit-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.prod-slide > h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin: 0px;
  text-align: center;
}
